<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default well" style="height:519px;">
        <div class="panel-heading zp">
          <div class="panel-title text-center ph">Book Tickets</div>
        </div>
        <form class="panel-body">
          <div class="form-group row">
            <div class="col-xs-12">
              <label for="Movie">Select Movie: </label>

              <select name="Movie" ng-model="bookingpageCtrl.userdata.movie" class="form-control" ng-change="bookingpageCtrl.getPoster()"
                required="required">
                <option ng-repeat="name in bookingpageCtrl.names">{{name}}</option>
              </select>

              <!-- <button ng-click="bookingpageCtrl.log()">Log</button> -->

            </div>
          </div>
          <div class="form-group row">
            <div class="col-xs-4">
              <label for="states">Select State: </label>

              <select name="states" ng-model="bookingpageCtrl.userdata.state" ng-mouseenter="bookingpageCtrl.getState()" class="form-control"
                required="required">
                <option ng-repeat="state in bookingpageCtrl.states">{{state}}</option>
              </select>

            </div>

            <div class="col-xs-4">
              <label for="cities" class="control-label">Select City: </label>

              <select name="cities" ng-model="bookingpageCtrl.userdata.city" class="form-control" required="required">
                <option ng-repeat="city in bookingpageCtrl.cities[bookingpageCtrl.userdata.state]">{{city}}</option>
              </select>

            </div>

            <div class="col-xs-4">
              <label for="locations">Select Location: </label>

              <select name="location" ng-model="bookingpageCtrl.userdata.location" class="form-control" required="required">
                <option ng-repeat="location in bookingpageCtrl.locations[bookingpageCtrl.userdata.city]">{{location}}</option>
              </select>

            </div>
          </div>
          <div class="form-group row">
            <div class="col-xs-6">
              <label for="dates">Select Date: </label>

              <select name="dates" ng-model="bookingpageCtrl.userdata.date" class="form-control" required="required">
                <option ng-repeat="day in bookingpageCtrl.dates[bookingpageCtrl.userdata.location]">{{day}}</option>
              </select>

            </div>

            <div class="col-xs-6">
              <label for="times">Select Time: </label>

              <select name="times" ng-model="bookingpageCtrl.userdata.time" class="form-control" required="required">
                <option ng-repeat="time in bookingpageCtrl.times[bookingpageCtrl.userdata.location]">{{time}}</option>
              </select>
              <!-- <div class="pretty p-icon p-round p-jelly p-bigger" ng-repeat="time in bookingpageCtrl.message.theaters.time">
                <input type="radio" name="times" value="{{time}}" />
                <div class="state p-primary">
                  <i class="icon glyphicon glyphicon-ok"></i>
                  <label>{{time}}</label>
                </div>
              </div> -->

            </div>
          </div>
          <div class="form-group row">
            <div class="col-xs-2">
              <label for="tickets">Tickets: </label>

              <select name="tickets" ng-model="bookingpageCtrl.userdata.tickets" class="form-control" required="required">
                <option ng-repeat="ticket in bookingpageCtrl.tickets">{{ticket}}</option>
              </select>

            </div>
          </div>
          <div class="form-group row">
          <div class="col-xs-4 pull-right">
            <button type="submit" class="btn btn-success pull-right">Proceed to Seat Selection</button>
          </div>
        </div>
        </form>
        <div class="panel-footer"></div>
      </div>
    </div>
    <!--      Poster       -->
    <div class="col-md-4">
      <div class="panel panel-default well" style="height:519px;" ng-if="bookingpageCtrl.userdata.movie">
        <img ng-src="https://image.tmdb.org/t/p/w342/{{bookingpageCtrl.poster}}" alt="No movie selected" class="img-responsive center-block img-rounded">
      </div>
    </div>
  </div>

  <!--    Seat Selection   -->
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-warning well">
        <div class="panel-heading zp">
          <div class="panel-title ph text-center">Select Seat(s)</div>
        </div>
        <div class="table-responsive panel-body">
        <table class="center-block well">
          <tbody>
            <tr>
              <td class="lb"></td>
              <td class="lb">1</td>
              <td class="lb">2</td>
              <td class="lb">3</td>
              <td class="lb">4</td>
              <td class="lb">5</td>
              <td class="lb">6</td>
              <td class="lb">7</td>
              <td class="lb">8</td>
              
            </tr>
            <tr>
              <td class="lb">A</td>
              <td id="A1" class="seat reserved"></td>
              <td id="A2" class="seat"></td>
              <td id="A3" class="seat"></td>
              <td id="A4" class="seat"></td>
              <td id="A5" class="seat"></td>
              <td id="A6" class="seat"></td>
              <td id="A7" class="seat"></td>
              <td id="A8" class="seat"></td>
            </tr>
            <tr>
              <td class="lb">B</td>
              <td id="B1" class="seat"></td>
              <td id="B2" class="seat"></td>
              <td id="B3" class="seat"></td>
              <td id="B4" class="seat"></td>
              <td id="B5" class="seat"></td>
              <td id="B6" class="seat"></td>
              <td id="B7" class="seat"></td>
              <td id="B8" class="seat"></td>
            </tr>
            <tr>
              <td class="lb">C</td>
              <td id="C1" class="seat"></td>
              <td id="C2" class="seat"></td>
              <td id="C3" class="seat"></td>
              <td id="C4" class="seat"></td>
              <td id="C5" class="seat"></td>
              <td id="C6" class="seat"></td>
              <td id="C7" class="seat"></td>
              <td id="C8" class="seat"></td>
            </tr>
            <tr>
              <td class="lb">D</td>
              <td id="D1" class="seat"></td>
              <td id="D2" class="seat"></td>
              <td id="D3" class="seat"></td>
              <td id="D4" class="seat"></td>
              <td id="D5" class="seat"></td>
              <td id="D6" class="seat"></td>
              <td id="D7" class="seat"></td>
              <td id="D8" class="seat"></td>
            </tr>
            <tr>
              <td class="lb">E</td>
              <td id="E1" class="seat"></td>
              <td id="E2" class="seat"></td>
              <td id="E3" class="seat"></td>
              <td id="E4" class="seat"></td>
              <td id="E5" class="seat"></td>
              <td id="E6" class="seat"></td>
              <td id="E7" class="seat"></td>
              <td id="E8" class="seat"></td>
            </tr>
            <tr>
              <td class="lb">F</td>
              <td id="F1" class="seat"></td>
              <td id="F2" class="seat"></td>
              <td id="F3" class="seat"></td>
              <td id="F4" class="seat"></td>
              <td id="F5" class="seat"></td>
              <td id="F6" class="seat"></td>
              <td id="F7" class="seat"></td>
              <td id="F8" class="seat"></td>
            </tr>
            <tr>
              <td class="lb">G</td>
              <td id="G1" class="seat"></td>
              <td id="G2" class="seat"></td>
              <td id="G3" class="seat"></td>
              <td id="G4" class="seat"></td>
              <td id="G5" class="seat"></td>
              <td id="G6" class="seat"></td>
              <td id="G7" class="seat"></td>
              <td id="G8" class="seat"></td>
            </tr>
            <tr>
              <td class="lb">H</td>
              <td id="H1" class="seat"></td>
              <td id="H2" class="seat"></td>
              <td id="H3" class="seat"></td>
              <td id="H4" class="seat"></td>
              <td id="H5" class="seat"></td>
              <td id="H6" class="seat"></td>
              <td id="H7" class="seat"></td>
              <td id="H8" class="seat"></td>
            </tr>
            <tr>
              <td class="lb">I</td>
              <td id="I1" class="seat"></td>
              <td id="I2" class="seat"></td>
              <td id="I3" class="seat"></td>
              <td id="I4" class="seat"></td>
              <td id="I5" class="seat"></td>
              <td id="I6" class="seat"></td>
              <td id="J7" class="seat"></td>
              <td id="J8" class="seat"></td>
            </tr>
            <tr>
              <td class="lb">J</td>
              <td id="J1" class="seat"></td>
              <td id="J2" class="seat"></td>
              <td id="J3" class="seat"></td>
              <td id="J4" class="seat"></td>
              <td id="J5" class="seat"></td>
              <td id="J6" class="seat"></td>
              <td id="J7" class="seat"></td>
              <td id="J8" class="seat"></td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
</div>