input{
    margin: 0 auto;
}

span{
    cursor: pointer;
}

.pretty{
    margin: 3px 3px 30px 3px;
}

.boxes{
    display: inline-block;
    margin-top: 5px;
    margin-right: 2px;
    font-size: 12px;
    padding: 4px;
}

.small{
    display: inline-block;
    width: 60px;
    height: 30px;
}

label{
    display: block;
    font-size: 14px;
}

.submit{
    margin-top: 40px;
    margin-left: 45%;
}

.dt{
    margin-right: 2px;
}

/* .img-responsive{
    width: 293px;
    height: 352px;
} */

.fix{
  height: 608px;
}

.hid{
  width: 548px;
  height: 27px;
}

.ph{
  font-size: 20px;
}

.zp{
  padding: 5px;
}


    