input{
    margin: 0 auto;
}

span{
    cursor: pointer;
}


.boxes{
    display: inline-block;
    margin-top: 8px;
    margin-right: 2px;
    font-size: 14px;
    padding: 4px;
}

.small{
    display: inline-block;
    width: 60px;
    height: 30px;
}

label{
    display: block;
    font-size: 14px;
}

.submit{
    margin-top: 20px;
    margin-left: 45%;
}

.dt{
    margin-right: 4px;
    margin-top: 4px;
    cursor: default;
    font-size: 14px;
}


/* .img-responsive{
    width: 293px;
    height: 352px;
} */

.fix{
  height: 688px;
}

.hid{
  width: 548px;
  height: 27px;
}

.ph{
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 3px 1px black;
}

.zp{
  padding: 5px;
}

.pretty{
  margin: 5px;
}

/* bookedpagecss */
.tw{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
  text-shadow: 1px 0px 1px black;
  
}

/* ticket design */
.ticket {
  position: relative;
  border: 2px solid white;
  /* background: black; */
  /* color: white; */
  /* text-transform: uppercase; */
  text-align: center;
  /* display: inline-block; */
  padding: 1em 2em;
}
.ticket:before,
.ticket:after{
  height:90px;
  width:45px;
  content: '';
  position: absolute;
  top: 0.9em;
  top: calc(0.9em - 1px);
  height: 1.2em;
  width: 0.6em;
  border: 2px solid white;
}
.ticket:before {
  left: -2px;
  border-radius: 0 1em 1em 0;
  border-left-color: black;
}
.ticket:after {
  right: -2px;
  border-radius: 1em 0 0 1em;
  border-right-color: black;
}

    