<div class="col-md-6">
    <div class="form-group">
        <label for="movies">Select Movie:</label>
        <select class="form-control" id="movies">
                <option ng-repeat="movie in moviemapCtrl.movie">{{movie.Title}}</option>
        </select>
        <br>

        <label for="theaters">Select Theater:</label>
        <select class="form-control" id="theaters">
                <option ng-repeat="theater in moviemapCtrl.theater">{{theater.Name}}</option>
        </select>
    </div>
</div>